<h1 id="browser" class="anchor"><a href="#browser"><i class="fas fa-link anchor-icon"></i></a> Browser Recommendations For Desktop</h1>

{% include cardv2.html
title="Mozilla Firefox"
image="/assets/img/tools/Firefox.png"
description='Firefox is fast, reliable, open source and respects your privacy. Don\'t forget to adjust the settings according to our
recommendations: <a href="#webrtc"><i class="fas fa-link"></i> WebRTC</a> and <a href="#about_config"><i class="fas fa-link"></i> about:config</a> and get the <a href="#addons"><i class="fas fa-link"></i> privacy add-ons</a>.'
website="https://www.firefox.com/"
forum="https://forum.privacytools.io/t/discussion-firefox/279"
github="https://github.com/mozilla"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

{% include cardv2.html
title="Tor Browser - Provides Anonymity"
image="/assets/img/tools/Tor-Browser.png"
description='Tor Browser is your choice if you need an extra layer of anonymity. It\'s a modified version of Firefox ESR, which comes with pre-installed privacy add-ons, encryption and an advanced proxy. <a href="https://write.privacytools.io/my-thoughts-on-security/slicing-onions-part-1-myth-busting-tor">How does Tor work?</a>'
website="https://www.torproject.org/"
forum="https://forum.privacytools.io/t/discussion-tor-browser/278"
git="https://trac.torproject.org/projects/tor"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

<h1 id="browser-android" class="anchor"><a href="#browser-android"><i class="fas fa-link anchor-icon"></i></a> Browser Recommendations For Android</h1>

{% include cardv2.html
title="Mozilla Firefox"
image="/assets/img/tools/Firefox.png"
description='Firefox is fast, reliable, open source and respects your privacy. Don\'t forget to adjust the settings according to our
recommendations: <a href="#webrtc"><i class="fas fa-link"></i> WebRTC</a> and <a href="#about_config"><i class="fas fa-link"></i> about:config</a> and get the <a href="#addons"><i class="fas fa-link"></i> privacy add-ons</a>.'
website="https://www.firefox.com/"
github="https://github.com/mozilla"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

{% include cardv2.html
title="Tor browser For Android. - Provides Anonymity"
image="/assets/img/tools/Tor-Browser.png"
description='Tor Browser for Android is your choice if you need an extra layer of anonymity. It\'s a modified version of Firefox ESR, which comes with pre-installed privacy add-ons, encryption and an advanced proxy. <a href="https://write.privacytools.io/my-thoughts-on-security/slicing-onions-part-1-myth-busting-tor">How does Tor work?</a>'
Website="https://torproject.org"
forum=""
github=""
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

{% include cardv2.html
title="Bromite"
image=""
description="Bromite is a chromium based browser with several privacy and security related patches. It also comes with an intergrated Ad blocker."
website="https://www.bromite.org/"
forum="https://github.com/bromite/bromite"
github=""
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

<h1 id="browser-ios" class="anchor"><a href="#browser-ios"><i class="fas fa-link anchor-icon"></i></a> Browser Recommendations For iOS</h1>

{% include cardv2.html
title="Onion browser"
image=""
description="Onion browser is a application that lets you browse the web anonymously over the Tor network on Ios devices, and is endorsed by the Tor project."
website="https://onionbrowser.com/"
forum=""
github="https://github.com/mtigas/OnionBrowser"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}

{% include cardv2.html
title="Mozilla Firefox"
image=""
description="Firefox is fast, reliable, open source and respects your privacy."
website="https://firefox.com"
forum="https://forum.privacytools.io/t/discussion-firefox/279"
github="https://github.com/mozilla"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}


{% include cardv2.html
title="SnowHaze"
image=""
description="SnowHaze is a an opensource browser for Ios with intergrated adblocker and fingerprinting protection."
website="https://snowhaze.com/en/index.html"
forum=""
github="https://github.com/snowhaze/SnowHaze-iOS"
windows=""
mac=""
linux=""
android=""
ios=""
bsd=""
%}
